<div class="row">
  <div class="large-6 large-centered columns">
  <h1 class="subheader">Resend confirmation instructions</h1>

    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, defaults: { label_html: { class: 'subheader' }}) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email :email, :autofocus => true %>

    <div class="column"><%= f.submit "Resend confirmation instructions", class: "btn-flat-large" %></div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>