<div class="row">
  <div class="large-6 large-centered columns">
    <h1 class="subheader">Sign in</h1>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), defaults: { label_html: { class: 'subheader' }}) do |f| %>
    
    <%= f.input :email %>
    <%= f.input :password %>
    
    <% if devise_mapping.rememberable? %>
    <label class="subheader">Remember me</label>
    <div class="switch">
      <input id="x" name="switch-x" type="radio">
      <label for="x" onclick="">No</label>

      <input id="x1" name="switch-x" type="radio" checked>
      <label for="x1" onclick="">Yes</label>

      <span></span>
    </div>

    <% end %>

    <%= f.submit "Sign in", class: "button large" %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>