<div class="row">
  <div class="large-6 large-centered columns">
    <h1 class="subheader">Resend unlock instructions</h1>

    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email, class: "subheader" %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div class="column"><%= f.submit "Resend unlock instructions", class: "btn-flat-large" %></div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
