



<!-- Navigation -->

  <div class="row">

    <div class="large-12 columns">
      <nav class="top-bar fixed containt-to-grid">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
          		<%= link_to "One Month Rails" , root_path %> 
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
     
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li><%= link_to "About" , about_path %></li>
                <li class="divider"></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                  <li class="divider"></li>
                <% else %>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                  <li class="divider"></li>
                <% end %>
          </ul>
        </section>
      </nav>
      <!-- End Top Bar -->
    
  </div>
  </div>

<!-- End Navigation -->

  