<div class="row">
  <div class="large-6 large-centered columns">
    <h1 class="subheader">Sign up</h1>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), defaults: { label_html: { class: 'subheader' }}) do |f| %>
      
      <%= devise_error_messages! %>
      <%= f.input :name, :autofocus => true %>
      <%= f.input :email %>
      <%= f.input :password %>

    <div><%= f.submit "Sign up", class: "btn-flat-large" %>
    </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>